header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 50px;
  height: auto;
}

.store-name {
  text-shadow: 0 0 20px #985FBA;
  color: #985FBA;
}

.cart {
  color: orange;
  font-size: 2rem;
  cursor: pointer;
}

.cart p {
  font-size: 1.5rem;
}

.pointer {
  cursor: pointer;
}

.card img, .details img {
  object-fit: contain;
}

.card .image {
  height: 250px;
  display: flex;
}

.details img{
  width: 100%;
}

.back {
  position: absolute;
  margin: 0.75rem 0.5rem;
  cursor: pointer;
}

.orange {
  color: orange;
}

.border-orange {
  border-color: orange;
  font-size: 1.5rem;
}

.border-orange:hover {
  color: black;
  background-color: orange;
}

.notice {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.notice-content {
  background-color: white;
  width: 66%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px #985FBA solid;
  box-shadow: 0 0 100px #985FBA;
}

.white {
  color: white;
}
