body {
  font-family: sans-serif;
  background-image: url(/images/purple-smoke.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


h1, h2, h3, h4, h5 {
  font-family: "Berkshire Swash";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 50px;
  height: auto;
}

.store-name {
  text-shadow: 0 0 20px #985FBA;
  color: #985FBA;
}

.cart {
  color: orange;
  font-size: 2rem;
  cursor: pointer;
  justify-content: flex-end;
}

.cart p {
  font-size: 1.5rem;
}

.pointer {
  cursor: pointer;
}

.card img, .details img {
  object-fit: cover;
  object-position: center;
}

.card .image {
  height: 250px;
  display: flex;
}

.details img{
  width: 100%;
}

.back {
  position: absolute;
  margin: 0.75rem 0.5rem;
  cursor: pointer;
}

.orange {
  color: orange;
}

.border-orange {
  border: 2px orange solid;
  font-size: 1.5rem;
  /* max-width: 150px; */
}

.bg-orange {
  color: black;
  background-color: orange
}

.bg-orange:hover {
  box-shadow: 0 0 20px #985FBA;
}

.border-orange:hover {
  color: black;
  background-color: orange;
  box-shadow: 0 0 20px #985FBA;
}

.notice {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.notice-content {
  background-color: white;
  width: 66%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px #985FBA solid;
  box-shadow: 0 0 100px #985FBA;
}

.white {
  color: white;
  font-family: sans-serif;
}

.bg-shadow {
  box-shadow: 0 0 20px #985FBA;
}

@media only screen and (max-width: 750px) {
  .cart {
    justify-content: center;
  }

  .justify-center-sm {
    justify-content: center;
  }
}

@media only screen and (max-width: 350px) {
  header img {
    display: none;
  }

  .notice h1 {
    font-size: 1.5rem;
  }

  .notice .border-orange {
    font-size: 1rem;
  }
}
